.signupScreen{
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,0.85);
}
.signupScreen>form{
    display: flex;
    flex-direction: column;
}
.signupScreen>form>input{    
    outline: none;
    height: 40px;
    margin-bottom: 14px; 
    border-radius: 5px;
    border: none;
    padding: 5px 15px;   
}
.signupScreen>form>button{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
}
.signupScreen>form>h1{
    text-align: left;
    margin-bottom: 25px;
}
.signupScreen___gray{
    color: gray;
}
.signupScreen__link:hover{
cursor: pointer;
text-decoration: underline;
}
.signupScreen>form>h4{
    font-size: 1rem;
    margin-top: 20px;
}