.row{
    color: white;
    margin-left: 20px;
}
.row__posters{
display: flex;
overflow-y: hidden;
overflow-y: scroll;
padding: 20px;
}
.row__poster{
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;    
    transition: all .5s;
    width: 100%;
}
.row__posters::-webkit-scrollbar {
    display: none;
}
.row__poster:hover{
    transform: scale(1.1);
}
.row__posterLarge{
    max-height: 250px;
}